@page "/CoffeBeans/{id:int}"
@using TombolaBeansTechTest.Models
@using TombolaBeansTechTest.Services
@inject CoffeBeanService BeanService
@inject NavigationManager navigationManager

<h3>@Bean?.Name</h3>
<p><strong>Origin:</strong> @Bean?.Origin</p>
<p><strong>Roast:</strong> @Bean?.RoastType</p>
<p>@Bean?.Description</p>
<p><strong>Price:</strong> $@Bean?.Price</p>
<a href="/" type="button" class="btn btn-success">Order Now</a>

@code {
    [Parameter] public int Id { get; set; }
    private CoffeBeans Bean;
    
    protected override void OnInitialized()
    {
        Bean = BeanService.GetBeanById(Id);
    }
}