@page "/"
@using Microsoft.AspNetCore.Components

<h3>Welcome to All The Beans!</h3>
<p>Your go-to coffee shop for all your coffee bean needs.</p>

<div class="buttons">
    <a class="btn btn-primary" href="/CoffeBeans">View Coffee Beans</a>
    <a class="btn btn-primary" href="/order">Place an Order</a>
    <a class="btn btn-primary" href="/beanoftheday">Bean of the Day</a>
</div>

@code {
    private void NavigateToCoffeeBeans()
    {
        NavigationManager.NavigateTo("/CoffeBeans");
    }

    private void NavigateToOrderForm()
    {
        NavigationManager.NavigateTo("/order");
    }

    private void NavigateToBeanOfTheDay()
    {
        NavigationManager.NavigateTo("/beanoftheday");
    }
    

    [Inject] private NavigationManager NavigationManager { get; set; }
}